#username {
    background-color: blueviolet;
}

#username:invalid {
    background-color: blue;
}

#username:valid {
    background-color: aqua;
}

#javascriptValidation {
    border-style: dotted;
    color: aquamarine;
    width: fit-content;
}

#requirements {
    margin-left:4%;
}

#html5validation {
    border-style: groove;
    color: pink;
    width: fit-content;
}